input#message {
    background:none;
    border:none;
    border-bottom: 1px solid black;
    outline:none;
    box-shadow:none;
    color: white;
    font-size: 200%;
    font-weight:500;
    margin-bottom: 25px;
    padding:1.2em 0;
}

.chat-container {
    display:block;
    width:100%;
    margin-top: 30px;
}
.chat-container:nth-child(4) {
    opacity: .8;
}
.chat-container:nth-child(3) {
    opacity: .8;
}
.chat-container:nth-child(2) {
    opacity: .8;
}
.chat-container:nth-child(1) {
    opacity: .5;
}

.chat-container a {
    /* text-transform: uppercase; */
    font-weight:bold;
    color:black;
    font-size:150%;
    letter-spacing:2px;
}

.chat-container p {
    background:#323035;
    padding:1.1em;
    color:white;
    margin: 5px 0 10px 0;
    font-size:130%;
}