
body {
    /* background-color:white; */
    padding-top: 5em;
    background-image: url('./assets/dawn-armfield-19723.jpg');
}
* {
    font-family: 'Raleway';
}
button {
    background:#4267B2;
    color:white;
    padding: 1.2em;
    width:300px;
    text-align:center;
    font-size:1.2em;
    margin-bottom: 30px;
    cursor:pointer;
}